<div layout="row" class="container">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [disabled]="isError || isLoading" (keyup)="applyFilter($event)" placeholder="Ex. Morocco">
  </mat-form-field>

  <!-- Loading progressbarwhile fetching data from server -->
  <mat-progress-bar *ngIf="isLoading && !isError" mode="indeterminate"></mat-progress-bar>

  <div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource">

      <!-- Code Column -->
      <ng-container matColumnDef="alpha2Code">
        <th mat-header-cell *matHeaderCellDef> Code</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="[element.alpha2Code.toLocaleLowerCase()]"><button mat-button>{{element.alpha2Code}}</button></a></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Region Column -->
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region</th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="subregion">
        <th mat-header-cell *matHeaderCellDef> Sub region</th>
        <td mat-cell *matCellDef="let element"> {{element.subregion}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nativeName">
        <th mat-header-cell *matHeaderCellDef> Native Name</th>
        <td mat-cell *matCellDef="let element"> {{element.nativeName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef> Flag</th>
        <td mat-cell *matCellDef="let element">
          <picture>
            <source media='(min-width:0px)' [srcset]="element.flag">
            <img mat-card-image height="20" width="30" src="" alt="{{element.name}}" />
          </picture>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>

</div>
