<div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1><a style="color: white; border: none" [routerLink]="'/'">COVID19 Dashboard</a></h1>
        <span class="menu-spacer"></span>
        <a mat-button [routerLink]="'/'">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Home
        </a>
        <a mat-button [routerLink]="'/countries'">
          <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
          Countries
        </a>
        <span flex class="fill-space"></span>
        <a mat-button>
          <mat-icon aria-hidden="false" aria-label="About author">remove_red_eye</mat-icon> {{ (traffic | async)?.views || '...' }}
        </a>
        <span flex class="fill-space"></span>
        <a mat-button (click)="openBottomSheet()">
          <mat-icon aria-hidden="false" aria-label="About author">account_box</mat-icon> Author
        </a>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Home
          </a>
          <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/countries'">
            <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
            Countries
          </a>
          <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            Close
          </a>

          <!-- Devider -->
          <mat-divider style="margin-top: 25px; margin-bottom: 25px;"></mat-divider>

          <a mat-list-item (click)="openBottomSheet()">
            <mat-icon aria-hidden="false" aria-label="About author">account_box</mat-icon>
            Author
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;" fxFlex>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>