<mat-nav-list style="text-align: center; justify-content: center">
  <section class="mat-typography">
    <h1>Haytham DAHRI &copy; {{now | date : 'yyyy'}}</h1>
  </section>
  <a href="https://www.linkedin.com/in/haytham-dahri/" target="_blank" mat-list-item >
    <span mat-line>Linkedin Profile</span>
  </a>

  <a href="https://haythamdahri.github.io/" target="_blank" mat-list-item>
    <span mat-line>Portfolio</span>
  </a>

  <a href="https://github.com/haythamdahri" target="_blank" mat-list-item>
    <span mat-line>Github Profile</span>
  </a>

  <a href="https://twitter.com/haythamdahri" target="_blank" mat-list-item>
    <span mat-line>Twitter Profile</span>
  </a>

  <a href="https://www.facebook.com/Haytham.dahri" target="_blank" mat-list-item>
    <span mat-line>Facebook Profile</span>
  </a>
</mat-nav-list>
