.mat-form-field {
  font-size: 14px;
  width: 100%;
}
table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}
.container {
  padding : 20px;
}

