<div layout="row" class="container">

  <!-- Loading progressbarwhile fetching data from server -->
  <mat-progress-bar *ngIf="isLoading && !isError" mode="indeterminate"></mat-progress-bar>

  <!-- REGIONS -->
  <mat-grid-list cols="3" rowHeight="50px" flex fxLayout="row" style="display: flex; justify-content: center;">
    <mat-grid-tile *ngFor="let region of countriesDataService.regions">
      <a mat-raised-button color="primary" class="mat-elevation-z4" [routerLink]="['/countries']"
        [queryParams]="{region: region}">
        <mat-icon>flag</mat-icon> Check {{ region }} Countries
      </a>
    </mat-grid-tile>
    <!-- WORLD WIDE COUNTRIES -->
    <mat-grid-tile>
      <a mat-raised-button color="primary" class="mat-elevation-z4" [routerLink]="['/countries']">
        <mat-icon>flag</mat-icon> Check World Wide Countries
      </a>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- FILTER -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [disabled]="isError || isLoading" (keyup)="applyFilter($event)" placeholder="Ex. USA">
  </mat-form-field>

  <!-- DEVIDER -->
  <mat-divider style="border-width: 5px; border-top-color: rgb(107, 80, 182);"></mat-divider>

  <!-- COUNTRIES -->
  <mat-grid-list cols="2" rowHeight="300px" flex fxLayout="row">
    <mat-grid-tile *ngFor="let country of pagedList">
      <mat-card class="example-card" style="width: 90%; justify-content: center">
        <mat-card-header style="width: 100%;">
          <div mat-card-avatar>
            <img src="assets/regions.png" height="40" width="40" style="border-radius: 100%" />
          </div>
          <mat-card-title>
            <strong style="color: #6b50b6;">Country: </strong> {{ country.country }}
            <strong style="float: right;">
              <a mat-raised-button color="primary" class="mat-elevation-z4"
                (click)="onGetCountryDetails(country.country)">
                <mat-icon>near_me</mat-icon> Check country details
              </a>
            </strong>
          </mat-card-title>
          <mat-card-subtitle><strong style="color: #6b50b6; ">Cases: </strong> {{ country.cases }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="app-mat-content">
          <mat-grid-list cols="2" rowHeight="25px">
            <mat-grid-tile><strong>Today cases: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.todayCases }}</mat-grid-tile>
            <mat-grid-tile><strong>Deaths: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.deaths }}</mat-grid-tile>

            <mat-grid-tile><strong>Today deaths: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.todayDeaths }}</mat-grid-tile>
            <mat-grid-tile><strong>Recovered people: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.recovered }}</mat-grid-tile>
            <mat-grid-tile><strong>Active people: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.active }}</mat-grid-tile>
            <mat-grid-tile><strong>Critical: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.critical }}</mat-grid-tile>
            <mat-grid-tile><strong>Cases per one million: </strong></mat-grid-tile>
            <mat-grid-tile>{{ country.casesPerOneMillion }}</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)" showFirstLastButtons>
  </mat-paginator>



</div>